<p>formimpresoras works!</p>


<form action="">

  <label for="nombre">Nombre</label>
  <input type="text" ngModel = 'impresora.nombre'/><br>
  <label for="nombre">Ubicacion</label>
  <input type="text" ngModel = 'impresora.ubicacion'/><br>
  <label for="nombre">Serie</label>
  <input type="text" ngModel = 'impresora.serie'/><br>
  <label for="nombre">IP</label>
  <input type="text" ngModel = 'impresora.ip'/><br>
  <label for="nombre">MAC</label>
  <input type="text" ngModel = 'impresora.mac'/><br>

  <button>Agregar</button>

</form>
